# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

example

# generated native folders
/ios
/android

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.cab
*.lnk

# NativeWind / Tailwind cache
.nativewind/

# Package Manager Logs
pnpm-debug.log*
lerna-debug.log*
.pnpm-store/

# Testing
/coverage
.nyc_output

# Keystores & Certificates (Security)
*.keystore
*.crt
*.cer
*.profile
google-services.json
GoogleService-Info.plist
credentials.json

# Environment variables
.env.*
!.env.example

# macOS specific
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Firebase / GCP
firebase-debug.log
firebase-debug.*
.firebase/

# Build artifacts
build/
coverage/
*.patch
